{% extends 'base.html.twig' %}
{% block body %}
    {% if error %}
        <div>Usuario o contraseña incorrecta</div>
    {% endif %}
    <form class="form-login" action="{{ path('app_login') }}" method="post">
        <span>Iniciar sesión</span>
        <input class="form-email" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Correo electronico" required/>
        <input class="form-password" type="password" id="password" name="_password" placeholder="Contraseña" required/>
        <button class="form-submit" type="submit">Ingresar</button>
    </form>
{% endblock %}