<header>
    <div class="left-section">
        <a href="{{ path('listar_productos') }}">Carrito de Compras</a>
    </div>
    <div class="right-section">
        <a class="btn ligth" href="#">Ver carrito</a>
        <a class="btn ligth" href="{{ path('app_logout') }}">Salir</a>
    </div>
</header>